# Changing Window Focus
################################################

# Change focus within a display
alt - j : yabai -m window --focus south
alt - k : yabai -m window --focus north
alt - h : yabai -m window --focus west
alt - l : yabai -m window --focus east

# Change between displays
lcmd + lctrl - left : yabai -m display --focus west
lcmd + lctrl - right : yabai -m display --focus east

# Modify Layout
################################################

# Rotate the windows clockwise
lcmd + lctrl - r : yabai -m space --rotate 270

# Flip the windows vertical (y-axis)
lcmd + lctrl - 0x21 : yabai -m space --mirror y-axis

# Flip the windows horizontal (x-axis)
lcmd + lctrl - 0x1E : yabai -m space --mirror x-axis

# Toggle the window float
lcmd + lctrl - t : yabai -m window --toggle float --grid 4:4:1:1:2:2

# Modify Size
################################################

# Maximize window
lcmd + lctrl - m : yabai -m window --toggle zoom-fullscreen

# Rebalance / Reset window sizes
lcmd + lctrl - e : yabai -m space --balance

# Move windows to a different desktop
################################################

# Move window to the left monitor / right monitor
lcmd + lctrl - 0x2B : yabai -m window --display west; yabai -m display --focus west
lcmd + lctrl - 0x2F : yabai -m window --display east; yabai -m display --focus east

# Move window to the next space
lcmd + lctrl - n : yabai -m window --space next
lcmd + lctrl - p : yabai -m window --space prev

# Move window to specific space
lcmd + lctrl - 1 : yabai -m window --space 1;
lcmd + lctrl - 2 : yabai -m window --space 2;
lcmd + lctrl - 3 : yabai -m window --space 3;
lcmd + lctrl - 4 : yabai -m window --space 4;
lcmd + lctrl - 5 : yabai -m window --space 5;
lcmd + lctrl - 6 : yabai -m window --space 6;
lcmd + lctrl - 7 : yabai -m window --space 7;
lcmd + lctrl - 8 : yabai -m window --space 8;
lcmd + lctrl - 9 : yabai -m window --space 9;

# Start & Stop yabai
lcmd + lctrl - q : yabai --stop-service
lcmd + lctrl - s : yabai --start-service
